{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">

<div> 
    <h1>About page</h1>
    <img class="rounded-circle account-img" src="{% static 'portfolio/default.jpg' %}" alt="My Face" align="right">

    Mateusz Dalba is .... 
</div>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">


<h2>Personality Test Result</h2>
<div> <p> 
    INTP-A https://www.16personalities.com/intp-personality

</p></div>


<div> 
    <div>
    Contact me through social media:
    <a href="https://www.facebook.com/profile.php?id=100009495286850" class="fa fa-facebook"></a>
    <a href="https://www.linkedin.com/in/mateusz-dalba-82184a115/" class="fa fa-linkedin"></a>
    <a href="https://www.linkedin.com/in/mateusz-dalba-82184a115/" class="fa fa-github"></a>
    </div>
</div>
{% endblock %}

