{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1> About page </h1>
<div> 
    <img class="rounded-circle account-img" src="{% static 'portfolio/default.jpg' %}" alt="My Image">
    <p>
        Author of the site is Mateusz Dalba
        LinkedIn Profile: https://www.linkedin.com/in/mateusz-dalba-82184a115/
    </p>
</div>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">

<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-linkedin"></a>


{% endblock %}

