{% extends "base.html" %}
{% load static %}

{% block page_content %}

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  href="{%  static  'css/style.css'  %}">

<div class="text mt-4"> 
    <div align="center">
    <img class="rounded-circle account-img" src="{% static 'portfolio/ja5.jpg' %}" alt="My Face">
    <p class="mt-3"><b>Contact me through social media!
    </b></p>
    <a href="https://www.facebook.com/profile.php?id=100009495286850" class="fa fa-facebook"></a>
    <a href="https://www.linkedin.com/in/mateusz-dalba-82184a115/" class="fa fa-linkedin"></a>
    <a href="https://github.com/mateuszdalba" class="fa fa-github"></a>
    <a href="https://www.instagram.com/dolbi20/" class="fa fa-instagram"></a> 

    <h5>If you are interested to see my experience click buttons below.</h5>
    <hr style="width: 50%; background: red;">
    <a class="btn btn-primary" href="{% url 'cv'%}">Check My Exp</a>
    <a class="btn btn-primary" href="{% url 'certificates'%}">Check My Certificates</a>
    <hr style="width: 50%; background: red;">
</div>

<br>
<div align='center' class="text"> 
    <p>Logician (INTP-A)</p>
    
        💪 <b>Strengths</b> 💪
        <li>Analytical</li>
        <li>Original</li>
        <li>Open-Minded</li>
        <li>Curious</li>
        <li>Objective</li>
        <br>
        👎🏻 Weaknesses 👎🏻
        <li>Disconnected</li>
        <li>Insensitive</li>
        <li>Dissatisfied</li>
        <li>Impatient</li>
        <li>Perfectionistic</li>
    <br>
    More info at: https://www.16personalities.com/intp-strengths-and-weaknesses
</div>


{% endblock %}

