{% extends "base.html" %}
{% load static %}
{% block page_content %}

<center><h3 class="mt-4">1. Statistical Analyst with SAS system</h3></center>
<img class="card-img-top" src="{% static 'portfolio\cert3.PNG' %}">

<center><h3 class="mt-4">2. Data Scientist with SAS system</h3></center>
<img class="card-img-top" src="{% static 'portfolio\cert1.jpg' %}">

<center><h3 class="mt-4">3. Complete Machine Learning Course with Python</h3></center>
<img class="card-img-top" src="{% static 'portfolio\cert2.png' %}">

<center><h3 class="mt-4">4. Python For Data Science and Machine Learning Bootcamp</h3></center>
<img class="card-img-top" src="{% static 'portfolio\cert4.png' %}">

<center><h3 class="mt-4">5. The Complete SQL Bootcamp</h3></center>
<img class="card-img-top" src="{% static 'portfolio\cert5.png' %}">




{% endblock %}