{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'css/project_index.css' %}">

<h4 align="center" class="mt-2">Explore my codes</h4>
<hr>
<div class="col-md-3">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">"Deep Learning Poisoning"</h5>
            <p class="card-text">Notebook for data poisoning bla bla bla bla</p>
            <a href="{% url 'notebook1'%}" class="btn btn-primary"> Show Notebook </a>
        </div>
    </div>
</div>

{% endblock %}
