{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link rel="stylesheet" href="{% static 'css/project_index.css' %}">

<h5 align="center" class="mt-2">
    This is my private workshop. <br>
    Codes are neither cleaned nor organized. They are entirely chaotic. <br>
    Soon I will update more example codes.  
</h5>
<hr>

<div class="row">
    <div class="col-md-3">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">Deep Learning classification model</h5>
                <ul class="card-text">
                    <li>Image data processing</li>
                    <li>Data augmentation</li>
                    <li>Transfer learning</li>
                    <li>Train & Evaluate model</li>
                </ul>
                <a href="{% url 'notebook1' %}" class="btn btn-primary"> Show Notebook </a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Trading Bot - Crypto Live Prediction with LSTM</h5>
                <ul class="card-text">
                    <li>Fetch data from Binance</li>
                    <li>Train LSTM model</li>
                    <li>Live prediction</li>
                </ul>
            <a href="{% url 'notebook2' %}" class="btn btn-primary"> Show Notebook </a>
            </div>  
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Car prices prediction - Random Forest Regressor</h5>
                <ul class="card-text">
                    <li>Prepare self-scrapped data for model training</li>
                    <li>Train model and save for later usage in app</li>
                </ul>
            <a href="{% url 'notebook3' %}" class="btn btn-primary"> Show Notebook </a>
            </div> 
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Deep Learning Poisoning - blending strategy</h5>
            <ul class="card-text">
                <li>Load sample image data</li>
                <li>Apply random noise on pictures</li>
                <li>Automate processing</li>
            </ul>
            <a href="{% url 'notebook4' %}" class="btn btn-primary"> Show Notebook </a>
            </div>  
        </div>
    </div>


</div>

<br>
<div class="row">

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Wine Classification Analysis</h5>
            <ul class="card-text">
                <li>Load & Process data</li>
                <li>EDA</li>
                <li>Train & Evaluate ML model</li>
                <li>Academic project</li>
            </ul>
            <a href="{% url 'notebook8' %}" class="btn btn-primary"> Show Notebook </a>
            </div> 
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Web scrapping - otomoto.pl </h5>
            <ul class="card-text">
                <li>Approach to scrapping otomoto.pl site</li>
                <li>Automatically scrap and save output to excel on 20k+ car advertisments</li>
            </ul>
            <a href="{% url 'notebook5' %}" class="btn btn-primary"> Show Notebook </a>
            </div>  
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Pandas basics - My Tutoring Lessons </h5>
            <ul class="card-text">
                <li>Jupyter Notebook shortcuts</li>
                <li>Basic pandas operations</li>
                <li>Pokemon dataset</li>
            </ul>
            <a href="{% url 'notebook6' %}" class="btn btn-primary"> Show Notebook </a>
            </div>  
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
            <h5 class="card-title">Basic NLP model from scratch</h5>
            <ul class="card-text">
                <li>Manually prepare variables</li>
                <li>Train & Evaluate model</li>
                <li>Visualizations</li>
            </ul>
            <a href="{% url 'notebook7' %}" class="btn btn-primary"> Show Notebook </a>
            </div> 
        </div>
    </div>

</div>


{% endblock %}
