{% extends "base.html" %}
{% load static %}

{% block page_content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="dep/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="dep/Font-Awesome/css/font-awesome.css" />
    
  </head>
  <body lang="en">
    <section id="main">
      <header id="title">
        <h1>Mateusz Dalba</h1>
        <div class="subtitle">Data Scientist with over 2 years of commercial experiance familiar with gathering, cleaning and organizing data
          for use by technical and non-technical personell. Mainly focusing on creating useful for business needs AI models.</div>
      </header>
      <hr>
      <section class="main-block">
        <h2>
          <i class="fa fa-suitcase"></i> Experience
        </h2>
        <section class="blocks">
          <div class="details">
            <header>
              <h4>Data Scientist</h4>
              <span class="place">Accenture (2022 - present)</span>
              <span class="location">Remote</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio. Vestibulum dapibus pharetra odio, egestas ullamcorper ipsum congue ac. Maecenas viverra tortor eget convallis vestibulum. Donec pulvinar venenatis est, non sollicitudin metus laoreet sed. Fusce tincidunt felis nec neque aliquet porttitor</li>
              </ul>
              </div>
          </div>
        </section>
        <section class="blocks">
          <div class="details">
            <header>
              <h4>Data Scientist / Machine Learning Engineer</h4>
              <span class="place">Transition Technologies Science (2020 - 2022) </span>
              <span class="location">Warsaw, Poland</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="blocks">
          <div class="details">
            <header>
              <h4>Data Analytics Intern</h4>
              <span class="place">EY (2019 - 4 months) </span>
              <span class="location">Malta</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              </ul>
              </div>
          </div>
          <div class="details">
            <header>
              <h4>Junior Statistical Programmer</h4>
              <span class="place">Parexel (2018 - 2019) </span>
              <span class="location">Warsaw, Poland</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              </ul>
              </div>
          </div>
        </section>
      </section>
      <section class="main-block">
        <hr>
        <h2>
          <i class="fa fa-folder-open"></i> Selected Projects
        </h2>
        <section class="blocks">
          <div class="details">
            <header>
              <h3>Inteligent Driving Assistant</h3>
              <span class="place">Motorsport Startup Company, Warsaw (2021 - 2022)</span>
            </header>
            <div>
              <ul>
                <li><b>Role:</b> Data Scientist / Machine Learning Engineer</li>
                <li><b>Project overview:</b></li>
                <ul>
                  <li>Implementation of various AI algorithms in the form of a bigger product in the Motorsport industry. Working with experts in the area to create global solution "Inteligent Driving Assistant"</li>
                </ul>
                <li><b>Technology:</b> </li>
                  <ul>
                    <li>Python, libraries such as: Keras, Numpy, Pandas, Tensorflow, Sklearn, Scipy, Plotly, Matplotlib, <br> Seaborn, Prophet, Statsmodels, Streamlit, Dash and more,</li>
                    <li>Docker,</li>
                    <li>VS Code, Spyder, Jupyter Notebook,</li>
                    <li>Streamlit, Django.</li>
                  </ul>
                <li><b>Key contribution:</b></li>
                  <ul>
                    <li>Work as a leading developer for the project,</li>
                    <li>Designed and implemented: pipeline for data processing; supervised ML algorithms; unsupervised ML algorithms;<br> recommendation engine and more algorithms</li>
                    <li>Implement the optimization algorithm</li>
                    <li>Created and deployed prototype apps for testing purposes in Streamlit and Dash technologies,</li>
                    <li>Regular meetings with clients, discussing functionalities, presenting results etc.</li>
                  </ul>
              </ul>
            </div>
          </div>
        </section>
        <section class="blocks">
          <div class="details">
            <header>
              <h3>Deep Learning project for National Bank of Poland</h3>
              <span class="place">Warsaw, Poland (2020-2021)</span>
            </header>
            <div>
              <ul>
                <li><b>Role:</b> Data Scientist / Machine Learning Engineer</li>
                <li><b>Project overview:</b></li>
                <ul>
                  <li>Model based on DL which recognizes Polish banknotes values.</li>
                </ul>
                <li><b>Technology:</b> </li>
                  <ul>
                    <li>Python, libraries for deep neural networks, image processing,</li>
                    <li>Git, Dockers, Jupyter Notebook.</li>
                  </ul>
                <li><b>Key contribution:</b></li>
                  <ul>
                    <li>Implemented the process of data gathering, data processing,</li>
                    <li>Built a deep learning model to predict banknote values</li>
                    <li>Evaluated and fined-tuned the model with business needs</li>
                    <li>Regular contact with business and potential clients to upgrage the model usability.</li>
                  </ul>
              </ul>
            </div>
          </div>
          <div class="details">
            <header>
              <h3>Previous projects (2018 - 2022) </h3>
            </header>
            <span>
              Worked as a Data Scientist for different clients with data from industries such as: Energy, Healthcare, Finance and Fashion <br>
              using the following technologies: Python, Git, SQL, Docker. <br>
              In the past, worked as a Python tutor.
            </span>
      
        <hr>
      <section class="main-block concise">
        <h2>
          <i class="fa fa-graduation-cap"></i> Education
        </h2>
        <br>
        <section class="blocks">
          <div class="details">
            <header>
              <h4>Master's Degree in Advanced Analytics - Big Data</h4>
              <span class="place">Warsaw School of Economics (2019 - 2022)</span>
              <span class="location">Warsaw, Poland</span>
            </header>
            <div>
              <li><b>Master's thesis:</b> Deep Learning poisoning with backdoor attacks </li>
              <li><b>Additional activity:</b> Data Scientist with SAS certification</li>
            </div>
          </div>
        </section>
        <section class="blocks">
            <div class="details">
              <br>
            <header>
              <h4>Bachelor's Degree - Quantitative Methods in Economics and Information Systems</h4>
              <span class="place">Warsaw School of Economics (2015 - 2018) </span>
              <span class="location">Warsaw, Poland</span>
            </header>
    
            <div>
              <li><b>Bachelor's thesis:</b> Modeling of tourism dynamics in Poland</li>
              <li><b>Additional activity:</b> Statistical Analytics with SAS certification </li>
            </div>
        </section>
        <section class="blocks">
         
         <hr>
          <div class="details">
            <header>
              <h4>Certificates</h4>
            </header>
            <div class="concise">
              <ul>
                <li>Data Scientist with SAS systems</li>
                <li>The Complete Machine Learning Course with Python</li>
                <li>Python for Data Science and Machine Learning</li>
                <li>The Complete SQL Bootcamp</li>
                <li>Statistical Analyst with SAS system (Licence no. M008/2018)</li>
              </ul>
            </div>
          </div>
        </section>
      </section>
    </section>
          <div class="side-block" id="skills">
        <hr>
        <h4>Skills</h4>
        <ul>
          <li>Python (Full Stack Data Science)</li>
          <li>Machine Learning</li>
          <li>Image Analysis</li>
          <li>Deep Learning</li>
          <li>Data Processing</li>
          <li>Data Visualization</li>
        </ul>
      </div>
     
  
  </body>
</html>
{% endblock %}