{% load static %}

<title>dalba.ai</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">

<section class="landing-section landing-main">
  <div class="landing-section-content">
    <h1 class="brand">Hello, stranger. Thanks for your time to visit my website. </h1>
    <br>
    <h1 class="brand"> Mateusz Dalba</h1> <br>
    <h3>
      <span class="brand-text">Data Scientist</span> <br>
      <span class="brand-text">Python programmer</span> <br>
      <span class="brand-text">Explorer</span>
    </h3>
    <br>
    <p class="brand-text">
      “In God we trust, all others bring data.” ~ W. Edwards Deming
    </p>
    <br>
    <div>
    <a href="{% url 'project_index' %}" class="header-link">Projects</a>
    <a href="{% url 'code_snippet'%}" class="header-link">Code Snippets</a>
    <a href="{% url 'about' %}" class="header-link">About</a>
    <a href="{% url 'contact' %}" class="header-link">Contact</a> 
    </div>

</section>
<section>
  <div class="landing-main source_author">
    <footer class="footer">Picture source: https://unsplash.com/@olivier_twwli </footer>
  </div> 
</section>

