{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ projects.title }}</h1>
<p>Watch App Demo Here:</p>
<div class="row">
    <!-- <div class="col-md-8">
        <img src="{% static projects.image %}" alt="Project image" width="100%">
    </div> -->
    <div class="col-md-8">
        <iframe width="560" height="315" src="{{ projects.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
        <h5>Main features: </h5>
        <p>{{ projects.main_features }}</p>
        <h5>Detailed description:</h5>
        <p>{{ projects.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ projects.technology }}</p>
        <h5>Duration:</h5>
        <p>{{ projects.duration }}</p>
    </div>

    <div class="'col-md-8">
    <h5>What were the obstacles?</h5>
    <p>{{ projects.obstacles }}</p>  
    <h5>What are the successes?</h5>
    <p>{{ projects.successes }}</p>
    <h5>What have I learned?</h5>
    <p>{{ projects.learn }} </p>  
    </div> 
</div>


{% endblock %}