{% extends "base.html" %}
{% load static %}
{% block page_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_index.css' %}">

<h5 align="center" class="title1">Some of my ML related projects that I've been working on so far.</h5>
<h5 align="center" class="title1">My two non-commercial apps have avaliable demo video.</h5>
<h5 align="center" class="title1">Most of my projects were commercial, therefore you will not find any private information in those.</h5>

<div class="row mt-4">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static project.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.short_description }}</p>
                    <a href="{% url 'project_detail' project.pk %}"
                       class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}